.chat {
    flex: 0.65;
    display: flex;
    flex-direction: column;
    background-color: rgb(245, 240, 240);
}

.chat_header {
    padding: 20px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid lightgray;
}

.chat_headerInfo {
    flex: 1;
    padding-left: 20px;
}

.chat_headerInfo > p {
    color: gray;
}

.chat_headerInfo > h3 {
    margin-bottom: 3px;
    font-weight: 500;
}
.chat_message {
    position: relative;
    font-size: 16px;
    padding: 10px;
    border-radius: 10px;
    width: fit-content;
    margin-bottom: 15px;
    background-color: rgb(26, 27, 27);
    color: white;
    font-family: 'Courier New', Courier, monospace;
}
.chat_timestamp {
    font-size: xx-small;
    margin-left: 10px;
    color: wheat;
}
.chat_name {
    color: white;
    position: absolute;
    top: 0px;
    font-weight: 800;
    font-size: xx-small;
}
.chat_footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 62px;
    border-top: 1px solid lightgrey;
}

.chat_footer > form {
    flex: 1;
    display: flex;
}

.chat_footer > form > input {
    flex: 1;
    border-radius: 30px;
    padding: 10px;
    border: none;
}

.chat_footer > form > button {
    display: none;
}

.chat_footer > .MuiSvgIcon-root {
    padding: 10px;
    color: grey;
}

.chat_headerRight {
    display: flex;
    justify-content: space-between;
    min-width: 100px;
    margin-left: auto;
}

.chat_reciever {
    margin-left: auto;
    color: white;
    background-color: rgb(68, 240, 68);
}

.chat_body {
    flex: 1;
    background-image: url(https://png.pngtree.com/png-clipart/20190520/original/pngtree-social-media-background-icons-whatsapp-emoji-emojis-post-template-png-image_4138568.jpg);
    background-repeat: repeat;
    background-position: center;
    padding: 30px;
    overflow: scroll;
}